# Python Bytecode
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE and editor files
*.idea/
.vscode/
*.swp
*.swo

# Dependency directories
pip-log.txt
pip-delete-this-directory.txt

# Build and distribution directories
dist/
build/
*.whl

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment Variables
.env
.secrets

# Python egg files
*.egg-info/

# MacOS files
.DS_Store

# Logs
*.log

# Testing files
.coverage
.pytest_cache/
.tox/
.mypy_cache/

